*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 500px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border: solid;
    margin: 150px auto;
    position: relative;
}

.card-1, .card-2, .card-3{
    width: 500px;
    height: 200px;
}

.card-1{
    background-color: blue;
    position: relative;
    /* top: 300px;
    bottom: ;
    left: ;
    right: ;
    z-index: ; */
}

.card-2{
    background-color: aqua;
}

.card-3{
    background-color: blueviolet;
    /* position: relative;
    bottom: 180px; */
}

